@page
@model Lista_Tarefa.Pages.Usuarios
@{
    ViewData["Title"] = "Usuarios";
}

@if (Model.UsuariosVM.Any())
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Usurário</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.UsuariosVM)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Usuario</td>
                    <td>
                        <a asp-page="/Editar" asp-route-Id="@usuario.Id" class="btn btn-warning">
                            Editar
                        </a>
                        <a asp-page="/Editar" asp-page-handler="Apagar" asp-route-Id="@usuario.Id" class="btn btn-danger">
                            Remover
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-center">Nenhum Usurário encontrado.</h2>
}